
<ul>
  <li>First Name <%= @user.first_name %></li>
  <li>Last Name<%= @user.last_name %></li>
  <li>Telephone Number<%= @user.telephone_number %></li>
  <li>Events:
    <ul>
      <% @user.events.all do |event|%>
      <li><%= event.name %></li>
      <% end %>
    </ul>
  </li>
  
  
  <li>Attended Events:</li>
  <li>Past:</li>
   <li> <ul>
    <% @user.attended_events.each do |a|%>
      <% if a.date < Date.today %>
        <li> <%= a.name %> </li>
        <li> <%= link_to 'Delete', event_event_attendance_path(a), method: :delete, data: { turbo_method: :delete, confirm: 'Are you sure?' } %></li>
      <% end %>
    <% end %>
  </ul></li>
  <li>Future:</li>
   <li> <ul>
    <% @user.attended_events.each do |a|%>
      <% if a.date > Date.today %>
        <li> <%= a.name %> </li>
        <li> <%= link_to 'Delete', event_event_attendance_path(a), method: :delete, data: { turbo_method: :delete, confirm: 'Are you sure?' } %></li>
      <% end %>
    <% end %>
  </ul></li>
</ul>